.container, nav {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
}

nav{
    width: auto;
}

@media (min-width: 576px) {
    .container, nav {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container, nav {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container, nav {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container, nav {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container, nav {
        max-width: 1320px;
    }
}
